body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
input, button {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
}
button { cursor: pointer; }
a { color: #bb86fc; }
